/*
 * Start of rota table content
 */ 

#rota, #summaryTable{
  position: relative;
  background-color: #f2f2f2;
  width: 100%;
}

div .row {
  margin-left: auto;
  margin-right: auto;
}

table {
  border: 1px solid silver;
  font:italic 12px/30px Georgia, serif;
  border-collapse: collapse;
  border-spacing: 2px;
  margin: 0 auto;
  width: 100%;
  cursor:default;
}

table .edit {
  font:bold 12px/30px Georgia, serif;
  cursor:pointer;
}

td, th {
  border: 2px solid silver;
  padding: 3px; 
  margin: 1px; 
  text-align: center;
}

td.n { min-width:25px; }
td.right, th.right { min-width:300px;}

#title { position: relative; }

#rotaHeader { 
  background-color : #ffffcc;
  text-align: center;
}


/*
 * Define classes to colour table cells
 */
.p.weekend.today         { background-color:#ffaa80; }
.p.today                 { background-color:#ffaa80; }
.holiday                 { background-color:#e600e6; }
.holiday.weekend         { background-color:#e600e6; }
.holiday.weekend.today   { background-color:#ffaa80; }
.holiday.today           { background-color:#ffaa80; }
.oncall                  { background-color:#ffccdd; }
.oncall.weekend          { background-color:#ff80aa; }
.oncall.today            { background-color:#ffaa80; }
.oncall.weekend.today    { background-color:#ffaa80; }
.available               { background-color:#ccffcc; }
.available.today         { background-color:#ffaa80; }
.available.weekend       { background-color:#66b3ff; }
.available.weekend.today { background-color:#ffaa80; }
.total                   { background-color:#ff0000; }
.total.weekend           { background-color:#ff0000; }
.total.today             { background-color:#800000; }
.total.weekend.today     { background-color:#800000; }
.total.oncall            { background-color:#c0c0c0; }
.total.oncall.weekend    { background-color:#808080; }
.total.oncall.today      { background-color:#ffaa80; }
.total.oncall.weekend.today { background-color:#ffaa80; }
.pending                 { background-color:#FF3300; }
.overbooked              { background-color:#ff0000; }
.multi                   { background-color:#d9b3ff; }

#rotaBlank {
  padding:0;
  margin:0;
  border: 1px solid #8c8c8c;
  background-color:#f2f2f2;
  position:absolute;
  display:block;
  top:0;
  left:0;
  min-width:100%;
  min-height:250px;
  height:100%;
}

#rotaBlank #rotaHeader th{
  overflow: hidden;
  position:absolute;
  background-color : #ffffcc;
  display:inline-block;
  top:0;
  left:0;
  min-width:100%;
}

.table {
  width: 100%;
}

.titlebtn {
  position:absolute;
  display:none;
  cursor:pointer;
  top:2px;
  padding-left:5px;
  padding-right:5px;
}

#rotaBlankClose { right:6px; }
#rotaHeader .titlebtn img { height:22px; }
#rotaBlank #rotaHeader .titlebtn img { height:20px; }
#rotaHeader:hover .titlebtn { display:inline-block; }
#rotaSettingsButton { right:6px; }
#rotaGraphButton { left: 6px; }
#rotaMailButton { left: 36px; }
#rotaPreviousButton {left: 30%;}
#rotaNextButton {right:30%;}
    
#rotaPick {
  position:absolute;
  display:block; 
  top:50px;
  width:100%;
  padding:0;
  margin:0;
}
#rotaPickForm { 
  position:relative;
  display:inline-block; 
}

#rotaPickForm p {clear:both;padding:0;}

#rotaSettingsLeft { float: left }
#rotaSettingsRight { float: right;}

.textbox    { width:218px;float:left; }
.textbutton { width:25px ;float:left; }
.field      { width:250px;float:left; }
.cfield     { width:50px ;float:left; }
.label      { text-align:left; width:100px;float:left}

#summaryTable {
  position:relative;
  display:block;
  font-family:sans-serif;
  top:15%;
  margin:0;
  padding:0;
  margin:auto;
}

.chart{
  margin: 0 auto;
}

#rotaBlank {
  overflow: hidden;
}

#summaryTable .bar {
  fill:blue;
  height: 21px;
  transition: fill .3s ease;
  cursor: pointer;
  font-family : Helvetica, sans-serif;
}
#summaryTable .bar text {
  color: black;
}

#summaryTable .bar:hover{
  fill: black;
}
#summaryTable .bar text:hover {
  fill:black;
}

#summaryTable .bar text:hover {
  fill:red;
}

#rotaNewPeriod {
  position: relative;
  width: 100%;
  display: inline-block;
  background-color: white;
  min-height: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

#createPeriod {
  margin: 5%;
  padding: 10px;
  border: 1px solid black;
  background-color: #f2f2f2;
  text-align: center;
}

#createPeriod:hover {
  background-color: #b3b3b3;
  cursor: pointer;
}

#rotaFormLeft {
  float: left;
}

#rotaFormCenter {
  position: relative;
  top: 5%;
  margin-top: 1.5%;
  margin-left: 1.5%;
}

#rotaFormRight {
  float: right;
}

#rotaNewPeriod input, #rotaNewPeriod select, #rotaNewPeriod label {
  padding: 0;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 94%;
  text-align: left;
  text-indent: 10px;
  overflow: hidden;
}

#rotaNewPeriod input, #rotaNewPeriod select {
  height: 50px;
  border: 0.5px solid #00264d;
}

#rotaTotalsTable {
  margin-top: 10%;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

